

<br/>
<br/>
<br/>
<br/>

<div class="span6 offset4 smurfy text-center">
 

<h1 class='custom-h1'> 
Dear, 

How are you?
</h1>

<h2 >I miss you!!</h2>

	
<%= link_to 'Get started', pics_path, :class=>'btn btn-info' %>
        	


</div>