

<br/>
<br/>
<br/>
<br/>

<div class="span6 offset4 smurfy text-center">
 

<h1 class='custom-h1'> 
Hi I am arnold
</h1>

<h2 >having fun coding yea!!</h2>

	
<%= link_to 'Get started', pics_path, :class=>'btn btn-info' %>
        	


</div>