<% @pics.each do |pic| %>

<div class="smurfy span4 text-center">
	<h1 class="custom-h1">
	Title: <%= pic.title %>
	<br/>
	<h1/>
	<h2>
	Subtitle: <%= pic.subtitle %>
	<br/>

	Message: <%= pic.message %>
	<br/>
	<h2/>


</div>

<% end %>